* {
    font-family: 'Poppins', sans-serif;
}

#bg-nav {
    background-color: #472272;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 1px 1px 1px 0px #FFC107;
}